<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>output</title>
        <link href="../static/output.css" rel="stylesheet" type="text/css" />
        <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    </head>
<body>

        <header>
            <div class = 'header'><a href = "/write"><i class="fas fa-chevron-left" style = "color : #F85D5D"></i></a></div>
            <div style = 'margin-left : 120px; font-weight : bold;'>나의 주인공</div>
            
        </header>

        <main>
            

            <div class = 'photo' >
                <img src = '/output_img' style = "background-color : #C4C4C4;
                width: 319px;
                height:309px;
                padding-top: 0px;
                position : relative;">
            </div> 
               
            <a href = "/download/" style = "text-decoration: none; color : white;"><div class = "download">다운로드</div></a>
            <a href = "/home" style = "text-decoration: none;">
                <div class = "feed">
                    <div class = "feed_main">
                        다른 사람들의 소설 속 주인공도 만나보세요
                    </div>
                    <div class = "feed_icon"><i class="fas fa-chevron-right"></i></div>
                    <div class = "feed_sub">
                        지금, 바로 주인공 만나러 가자! 
                    </div>
                </div>
            </a>


        </main>
        
        <!-- <div class = 'footer'>
            <ul>
                <div class = 'nav'><li><i class="fas fa-home"></i></li></div>
                <div class = 'now'><li><i class="fas fa-pencil-alt"></i></li></div>
                <div class = 'nav'><li><i class="fas fa-comments"></i></li></div>
                <div class = 'nav'><li><i class="fas fa-bars"></i></li></div>

            </ul>
        </div> -->




</body>



</html>